<header class="o-ft-header" data-o-component="ft-header" data-o-version=""><div class="o-ft-header__topbar">
    <div class="o-ft-header__topbar__content">
      <a href="http://ft.com" class="o-ft-header__logo"><abbr title="Financial Times">FT</abbr></a>
      <div class="o-ft-header__topbar__items">
        <a href="#" class="o-ft-header__topbar__item">
          <span>Example item</span>
        </a>
      </div>
    </div>
  </div>
</header>