<style>
    h1, h2 { font-weight: normal; }
    a { color: blue; }
</style>

<h1>Next Router</h1>

<p>
    The router is a <strong>smart proxy server</strong> that determines where incoming HTTP
    requests to <a href="http://next.ft.com">next.ft.com</a> should be directed
    to based on the URL pattern and several other HTTP headers.
</p>
<p>
    The rules under which the router operates are stored in the
    <a href="http://next-service-registry.herokuapp.com/">next service registry</a>.
</p>
