<div class="ft-article__container">    <h1>{{title}}</h1>    <div>{{{content}}}</div>    <table width="100%" border="1" cellpadding="5">        <tr>            <th>switch</td>            <th>isSwitchedOn</td>            <th>isSwitchedOff</td>        </tr>        <tr>            <td>foo</td>            <td>{{flags.foo.isSwitchedOn}}</td>            <td>{{flags.foo.isSwitchedOff}}</td>        </tr>        <tr>            <td>boo</td>            <td>{{flags.boo.isSwitchedOn}}</td>            <td>{{flags.boo.isSwitchedOff}}</td>        </tr>    </table></div>